
.completed {
  text-decoration: line-through !important;
}

.date {
  font-size: small;
}

.sfondoCard {
  width: 100%;
  height: 92vh; 
  background-image: url("../src/img/sfondopage.jpeg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding-top: 2rem;
}

.myForm {
  background-color: rgba(255,255,255,0.32) !important;
}

.myFormLog {
  background-color: rgba(255,255,255,0.8) !important;
}

.nav-cust {
  z-index: 1;
}
.sfondoLog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/img/monastera.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding: 6rem 0;
}
.card-altezza {
  max-height: 65vh;
}

.sfondoHome {
  width: 100%;
  height: 92vh;
  background-image: url("../src/img/sfondoPalme.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding-top: 2rem;
  color: rgb(233, 227, 227)
}



.logo {
  color: #fff !important;
}

.buttonLog {
  margin: 0 auto;
}

.txtLogReg {
  font-size: 2.8rem;
  font-weight: bold;
}

.alertCustom {
  margin-top: -12px !important;
  padding: 5px 13px!important;
}

.privacy {
  text-decoration: none;
}
.imgHome {
  width: 90%;
  height: 350px;
  border-radius: 10px;
  background-color:rgba(255,255,255,0.1)
}
.imgHome img {
  width: 100%;
  height: 100%;
}